<div class="main">
  <label style="font-size: 1.5rem;">Angular Material Snackbar - Using NGRX Demo</label>
  <!-- Snackbar buttons -->
  <div class="button-row">
    <button mat-raised-button color="primary" (click)="openSuccess($event)">
      Success
    </button>
    <button mat-raised-button color="accent" (click)="openInfo($event)">
      Info
    </button>
    <button mat-raised-button color="warn" (click)="openError($event)">
      Error
    </button>
  </div>
  <!-- End of Snackbar buttons -->
  <!-- Snackbar buttons -->
  <div class="button-row">
    <button mat-raised-button (click)="openEffect($event)">
      Via NGRX Effect
    </button>
  </div>
  <!-- End of Snackbar buttons -->
  <!-- link to the angular material snackbar -->
  <label
    >For more Snackbar configuration visit
    <a
      href="https://material.angular.io/components/snack-bar/overview"
      target="_blank"
      style="color: wheat;"
      >here</a
    >.</label
  >
  <!-- end link to the angular material snackbar -->
  <footer class="footer">
    <div class="footer-flex">
      <a
        href="https://github.com/chandru415/angular-ngrx-material-snackbar"
        target="_blank"
        title="View Source Code"
      >
        <i class="fa fa-github" aria-hidden="true"></i
      ></a>
      <p>
        chandru415 <i class="fa fa-copyright" aria-hidden="true"></i> 2019 -
        {{ copyright$ | async | date:'yyyy'}} MIT.
      </p>
    </div>
  </footer>
</div>
